<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<link rel="stylesheet" type="text/css" media="all" href="/resources/css/bootstrap.css" th:href="@{/resources/css/bootstrap.min.css}" />
	
</head>
<body>
	<div th:include="template :: header"></div> 
	<div class="table-responsive">
		<table class="table table-bordered">
			<thead>
	            <tr>
	                <th>Address1</th>
	                <th>Address2</th>
	                <th>City</th>
	                <th>State</th>
	                <th>Zipcode5</th>
	                <th>Zipcode4</th>
	            </tr>
	        </thead>
	        <tbody>
	        	<tr th:each="i : ${result}">
	                <td th:text="${i.address1}">Address1</td>
	                <td th:text="${i.address2}">Address2</td>
	                <td th:text="${i.city}">City</td>
	                <td th:text="${i.state}">State</td>
	                <td th:text="${i.zipcode5}">Zipcode5</td>
	                <td th:text="${i.zipcode4}">Zipcode4</td>
	            </tr>
	        </tbody>
	    </table>
    </div>
    

    
     <div th:include="template :: footer"></div> 
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="/resources/js/bootstrap.min.js"></script>
</body>
</html>